In [ ]:
# Import our dependencies
import pandas as pd
from datetime import datetime
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

# Read in our housing data
housing_data_df= pd.read_csv("../Resources/City_Zhvi_AllHomes_for_ML_Linear_Regression.csv",parse_dates=True)
housing_data_df

In [ ]:
#Make a top city dataframe based on size rank of each city
topcity = housing_data_df[['SizeRank', 'RegionName']].copy()
topcity

In [ ]:
#Reduce the top city dataframe to the top 60 cities by size rank
topcity = topcity.loc[0:59,'RegionName']

In [ ]:
#Covert city dataframe to list
topcity.values.tolist()

In [ ]:
## start dropping unneeded columns
## dropped RegionID, State, Metro, CountyName 
housing_data_df=housing_data_df.drop(housing_data_df.iloc[:, 0:3],axis = 1)
housing_data_df.head()

In [ ]:
## drop remaining unneeded columns
## dropped all months before January 2010
housing_data_df=housing_data_df.drop(housing_data_df.iloc[:, 1:174],axis = 1)
housing_data_df.head()

In [ ]:
#Dropping all but first value in RegionName. City names appear more than once if there are cities in diffrent states 
# with the same name. Since we are looking for top cities we are ok to drop all occurances after the first.
housing_data_df.drop_duplicates(subset=['RegionName'], inplace=True)
housing_data_df

In [ ]:
#keep only rows with the cities in our top cities by size
housing_topcity_df = housing_data_df[housing_data_df['RegionName'].isin(topcity)]
housing_topcity_df

In [ ]:
## transpose dates to rows
housing_topcity_df=housing_topcity_df.transpose()
housing_topcity_df.head()

In [ ]:
#move first row to column names
housing_topcity_df.columns = housing_topcity_df.iloc[0]
housing_topcity_df

In [ ]:
#remove first row shwowing city name
housing_topcity_df = housing_topcity_df.iloc[1: , :]
housing_topcity_df

In [ ]:
# Reset index
housing_topcity_df = housing_topcity_df.reset_index()
housing_topcity_df.head()

In [ ]:
#Rename date column to date
housing_topcity_df.rename(columns={ housing_topcity_df.columns[0]: "Date" })

In [ ]:
#iterate over columns to 

housing_predictions = []
r_squared = []
mse = []
rmse = []
mae = []
stats = []

for column in housing_topcity_df.columns[1:]:
    
    
    X = housing_topcity_df.index.values.reshape(-1, 1)   
#converted X to float values
    x = X.astype(float)

    Y = housing_topcity_df[column].values.reshape(-1, 1)   

#converted Y to float values
    y = Y.astype(float)   

    linear_regressor = LinearRegression()  # create object for the class
    linear_regressor.fit(x, y)  # perform linear regression
    Y_pred = linear_regressor.predict(X)  # make predictions
    
    x_new = np.arange(123).reshape((-1, 1))

    r2 = r2_score(y, Y_pred)
    mse = mean_squared_error(y, Y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y, Y_pred)
    y_new = linear_regressor.predict(x_new)
    y_new
    housing_predictions.append([column, y_new])
    r_squared.append([column, r2])
    stats.append([column, r2, mse, rmse, mae])

In [ ]:
#housing_predictions
r_squared

In [ ]:
#convert regrresssion results to a dataframe
r_squared_df = pd.DataFrame(r_squared)
r_squared_df

In [ ]:
#r_squared_df.rename([0]:'City', [1]:'Next Month Price', inplace = True)
r_squared_df.columns = ['City', 'R Squared']
r_squared_df

In [ ]:
r_squared_df = r_squared_df.sort_values(['R Squared'], ascending=[False])
r_squared_df

In [ ]:
stats

In [ ]:
#convert stats results to a dataframe
stats_df = pd.DataFrame(stats)
stats_df

In [ ]:
#rename columns in stats_df
stats_df.columns = ['City', 'R Squared', 'MSE', 'RMSE', 'MAE']
stats_df

In [ ]:
stats_df = stats_df.sort_values(['R Squared'], ascending=[False])
stats_df

In [ ]:
#changing MSE column to an integer
stats_df['MSE'] = stats_df['MSE'].astype(int)
stats_df

In [ ]:
plt.scatter (housing_topcity_df.index, housing_topcity_df['New York'])
plt.show()

In [ ]:
X = housing_topcity_df.index.values.reshape(-1, 1)   #X = CALI_df.iloc[:, 0].values.reshape(-1, 1)  # values converts it into a numpy array

#converted X to float values
x = X.astype(float)

Y = housing_topcity_df['New York'].values.reshape(-1, 1)   

#converted Y to float values
y = Y.astype(float)   #Y = CALI_df.iloc[:, 1].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column

linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(x, y)  # perform linear regression
Y_pred = linear_regressor.predict(X)  # make predictions

In [ ]:
plt.scatter(x, y)
plt.plot(x, Y_pred, color='red')
plt.title('New York Price Predictions')
plt.ylabel('Housing Price')
plt.xlabel('Time')
plt.show()

In [ ]:
#convert result to CSV file
stats_df.to_csv('../ML/Linear_regression_R_Squared.csv')