In [21]:
# Import our dependencies
import pandas as pd
from path import Path
from sklearn.preprocessing import LabelEncoder

# Read in our housing data

file_path = Path("../Resources/City_Zhvi_AllHomes.csv")
all_homes_df = pd.read_csv(file_path)

# Confirm dataload
all_homes_df

,RegionID,SizeRank,RegionName,RegionType,State,StateName,CountyName,Jan-10,Feb-10,Mar-10,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
0,6181,0,New York,City,NY,New York,Queens County,444369.0,444560.0,443163.0,...,659421,659007,658239,656925,655613,654394,653930,653901,653565,652307
1,12447,1,Los Angeles,City,CA,California,Los Angeles County,443474.0,441260.0,440817.0,...,712660,713807,715688,718245,721896,725180,730358,735910,744137,752508
2,39051,2,Houston,City,TX,Texas,Harris County,127564.0,127372.0,127497.0,...,186844,187464,188070,188496,189125,189612,190179,190395,190938,191907
3,17426,3,Chicago,City,IL,Illinois,Cook County,217978.0,218203.0,215311.0,...,248372,248646,248725,248483,248278,248090,248029,248220,248599,249152
4,6915,4,San Antonio,City,TX,Texas,Bexar County,127517.0,127650.0,127677.0,...,182732,183350,183930,184846,185490,186244,186420,186962,187129,187718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27325,48550,29449,Winton,City,MN,Minnesota,Saint Louis County,78486.0,79689.0,80756.0,...,70929,70176,68979,68537,68948,69481,69423,69355,69654,70399
27326,51821,29449,Eastabuchie,City,MS,Mississippi,Jones County,66148.0,65857.0,65907.0,...,77737,78461,79138,79930,79683,79838,80272,80969,81871,82284
27327,232607,29449,Dean,City,TX,Texas,Clay County,124299.0,124047.0,123632.0,...,178872,179976,180654,181188,181613,182101,182424,182764,182639,182361
27328,6638,29449,Pulaski,City,GA,Georgia,Candler County,70380.0,70546.0,70657.0,...,97356,97757,98014,98225,98303,98613,98802,99227,99699,100464
27329,33089,29449,New Paris,City,PA,Pennsylvania,Bedford County,NaN,NaN,NaN,...,88745,89233,89169,89628,90073,90961,91745,92232,92787,93564

In [22]:
all_homes_df.drop('RegionID', axis=1, inplace=True)
all_homes_df

,SizeRank,RegionName,RegionType,State,StateName,CountyName,Jan-10,Feb-10,Mar-10,Apr-10,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
0,0,New York,City,NY,New York,Queens County,444369.0,444560.0,443163.0,442489.0,...,659421,659007,658239,656925,655613,654394,653930,653901,653565,652307
1,1,Los Angeles,City,CA,California,Los Angeles County,443474.0,441260.0,440817.0,441873.0,...,712660,713807,715688,718245,721896,725180,730358,735910,744137,752508
2,2,Houston,City,TX,Texas,Harris County,127564.0,127372.0,127497.0,127711.0,...,186844,187464,188070,188496,189125,189612,190179,190395,190938,191907
3,3,Chicago,City,IL,Illinois,Cook County,217978.0,218203.0,215311.0,215345.0,...,248372,248646,248725,248483,248278,248090,248029,248220,248599,249152
4,4,San Antonio,City,TX,Texas,Bexar County,127517.0,127650.0,127677.0,127675.0,...,182732,183350,183930,184846,185490,186244,186420,186962,187129,187718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27325,29449,Winton,City,MN,Minnesota,Saint Louis County,78486.0,79689.0,80756.0,80711.0,...,70929,70176,68979,68537,68948,69481,69423,69355,69654,70399
27326,29449,Eastabuchie,City,MS,Mississippi,Jones County,66148.0,65857.0,65907.0,66002.0,...,77737,78461,79138,79930,79683,79838,80272,80969,81871,82284
27327,29449,Dean,City,TX,Texas,Clay County,124299.0,124047.0,123632.0,123236.0,...,178872,179976,180654,181188,181613,182101,182424,182764,182639,182361
27328,29449,Pulaski,City,GA,Georgia,Candler County,70380.0,70546.0,70657.0,70657.0,...,97356,97757,98014,98225,98303,98613,98802,99227,99699,100464
27329,29449,New Paris,City,PA,Pennsylvania,Bedford County,NaN,NaN,NaN,NaN,...,88745,89233,89169,89628,90073,90961,91745,92232,92787,93564

In [23]:
#Check for nulls
for column in all_homes_df.columns:
    print(f"column {column} has {all_homes_df[column].isnull().sum()} null values")

column SizeRank has 0 null values
column RegionName has 0 null values
column RegionType has 0 null values
column State has 0 null values
column StateName has 0 null values
column CountyName has 0 null values
column Jan-10 has 3728 null values
column Feb-10 has 3684 null values
column Mar-10 has 3667 null values
column Apr-10 has 3636 null values
column May-10 has 3601 null values
column Jun-10 has 3567 null values
column Jul-10 has 3545 null values
column Aug-10 has 3505 null values
column Sep-10 has 3478 null values
column Oct-10 has 3457 null values
column Nov-10 has 3431 null values
column Dec-10 has 3415 null values
column Jan-11 has 3306 null values
column Feb-11 has 3268 null values
column Mar-11 has 3226 null values
column Apr-11 has 3182 null values
column May-11 has 3155 null values
column Jun-11 has 3139 null values
column Jul-11 has 3110 null values
column Aug-11 has 3076 null values
column Sep-11 has 3046 null values
column Oct-11 has 3016 null values
column Nov-11 has 2995 null values
column Dec-11 has 2969 null values
column Jan-12 has 2853 null values
column Feb-12 has 2800 null values
column Mar-12 has 2761 null values
column Apr-12 has 2747 null values
column May-12 has 2718 null values
column Jun-12 has 2677 null values
column Jul-12 has 2657 null values
column Aug-12 has 2577 null values
column Sep-12 has 2546 null values
column Oct-12 has 2525 null values
column Nov-12 has 2516 null values
column Dec-12 has 2493 null values
column Jan-13 has 2374 null values
column Feb-13 has 2331 null values
column Mar-13 has 2288 null values
column Apr-13 has 2249 null values
column May-13 has 2227 null values
column Jun-13 has 2180 null values
column Jul-13 has 2128 null values
column Aug-13 has 2093 null values
column Sep-13 has 2045 null values
column Oct-13 has 2006 null values
column Nov-13 has 1973 null values
column Dec-13 has 1956 null values
column Jan-14 has 1812 null values
column Feb-14 has 1783 null values
column Mar-14 has 1729 null values
column Apr-14 has 1692 null values
column May-14 has 1654 null values
column Jun-14 has 1610 null values
column Jul-14 has 1575 null values
column Aug-14 has 1520 null values
column Sep-14 has 1481 null values
column Oct-14 has 1454 null values
column Nov-14 has 1438 null values
column Dec-14 has 1428 null values
column Jan-15 has 1139 null values
column Feb-15 has 1103 null values
column Mar-15 has 1080 null values
column Apr-15 has 1044 null values
column May-15 has 1034 null values
column Jun-15 has 1010 null values
column Jul-15 has 999 null values
column Aug-15 has 963 null values
column Sep-15 has 916 null values
column Oct-15 has 890 null values
column Nov-15 has 862 null values
column Dec-15 has 837 null values
column Jan-16 has 769 null values
column Feb-16 has 742 null values
column Mar-16 has 717 null values
column Apr-16 has 691 null values
column May-16 has 651 null values
column Jun-16 has 610 null values
column Jul-16 has 587 null values
column Aug-16 has 563 null values
column Sep-16 has 536 null values
column Oct-16 has 474 null values
column Nov-16 has 451 null values
column Dec-16 has 433 null values
column Jan-17 has 366 null values
column Feb-17 has 348 null values
column Mar-17 has 320 null values
column Apr-17 has 302 null values
column May-17 has 268 null values
column Jun-17 has 247 null values
column Jul-17 has 227 null values
column Aug-17 has 211 null values
column Sep-17 has 184 null values
column Oct-17 has 153 null values
column Nov-17 has 134 null values
column Dec-17 has 118 null values
column Jan-18 has 38 null values
column Feb-18 has 0 null values
column Mar-18 has 0 null values
column Apr-18 has 0 null values
column May-18 has 0 null values
column Jun-18 has 0 null values
column Jul-18 has 0 null values
column Aug-18 has 0 null values
column Sep-18 has 0 null values
column Oct-18 has 0 null values
column Nov-18 has 0 null values
column Dec-18 has 0 null values
column Jan-19 has 0 null values
column Feb-19 has 0 null values
column Mar-19 has 0 null values
column Apr-19 has 0 null values
column May-19 has 0 null values
column Jun-19 has 0 null values
column Jul-19 has 0 null values
column Aug-19 has 0 null values
column Sep-19 has 0 null values
column Oct-19 has 0 null values
column Nov-19 has 0 null values
column Dec-19 has 0 null values
column Jan-20 has 0 null values
column Feb-20 has 0 null values
column Mar-20 has 0 null values

In [24]:
# Remove all rows with null values since rows with null values are less than 15% of total dataset
all_homes_cleansed_df = all_homes_df.dropna(how='any',axis=0)

In [25]:
# Confirm none of the top 50 ranked cities were lost in the above step
all_homes_cleansed_df.head(50)

,SizeRank,RegionName,RegionType,State,StateName,CountyName,Jan-10,Feb-10,Mar-10,Apr-10,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
0,0,New York,City,NY,New York,Queens County,444369.0,444560.0,443163.0,442489.0,...,659421,659007,658239,656925,655613,654394,653930,653901,653565,652307
1,1,Los Angeles,City,CA,California,Los Angeles County,443474.0,441260.0,440817.0,441873.0,...,712660,713807,715688,718245,721896,725180,730358,735910,744137,752508
2,2,Houston,City,TX,Texas,Harris County,127564.0,127372.0,127497.0,127711.0,...,186844,187464,188070,188496,189125,189612,190179,190395,190938,191907
3,3,Chicago,City,IL,Illinois,Cook County,217978.0,218203.0,215311.0,215345.0,...,248372,248646,248725,248483,248278,248090,248029,248220,248599,249152
4,4,San Antonio,City,TX,Texas,Bexar County,127517.0,127650.0,127677.0,127675.0,...,182732,183350,183930,184846,185490,186244,186420,186962,187129,187718
5,5,Philadelphia,City,PA,Pennsylvania,Philadelphia County,148164.0,148450.0,148615.0,148611.0,...,180552,181582,182578,183510,184375,185050,185581,186103,186806,187772
6,6,Phoenix,City,AZ,Arizona,Maricopa County,138948.0,137630.0,136195.0,135623.0,...,251616,252949,254712,256293,258094,260058,262379,264658,266769,269175
7,7,Las Vegas,City,NV,Nevada,Clark County,147762.0,147107.0,146572.0,145492.0,...,285430,284385,283456,283210,283713,284820,285736,287089,288201,290535
8,8,San Diego,City,CA,California,San Diego County,421263.0,421956.0,423885.0,427696.0,...,648624,650704,652443,654566,656162,659380,663421,669118,673969,679568
9,9,Dallas,City,TX,Texas,Dallas County,136558.0,135681.0,134954.0,134651.0,...,223866,224495,225114,226489,226928,227421,226790,226578,226225,226145
10,10,Austin,City,TX,Texas,Travis County,233737.0,233371.0,233191.0,233279.0,...,384020,385341,386636,388877,390228,392524,394368,396832,398737,401999
11,11,San Jose,City,CA,California,Santa Clara County,528403.0,528001.0,536630.0,539220.0,...,1020983,1011978,1009994,1013576,1017264,1022024,1030142,1044256,1058211,1073255
12,12,Jacksonville,City,FL,Florida,Duval County,142366.0,140673.0,139233.0,138828.0,...,185522,185919,186564,187190,188159,188850,189904,191352,193382,195692
13,13,Indianapolis,City,IN,Indiana,Marion County,105004.0,105552.0,105660.0,105859.0,...,146229,146548,146837,147907,149051,150058,150381,150945,152105,153159
14,14,San Francisco,City,CA,California,San Francisco County,756063.0,765060.0,764361.0,766430.0,...,1399537,1401434,1399378,1403962,1409597,1418410,1431606,1438161,1445113,1447191
15,15,Charlotte,City,NC,North Carolina,Mecklenburg County,172150.0,171070.0,169834.0,168847.0,...,242765,243423,244333,245228,246497,247632,248816,249527,251105,252438
16,16,Fort Worth,City,TX,Texas,Tarrant County,124018.0,124243.0,124144.0,124251.0,...,205758,206352,207211,208189,209099,209590,210054,210472,211244,212127
17,17,Tucson,City,AZ,Arizona,Pima County,165629.0,163869.0,162907.0,163213.0,...,202928,204049,205187,206240,207361,208856,211172,212818,214364,215965
18,18,Columbus,City,OH,Ohio,Franklin County,120334.0,120468.0,120797.0,120589.0,...,163199,163866,164663,165803,166880,168009,169280,171019,172761,174109
19,19,Louisville,City,KY,Kentucky,Jefferson County,138108.0,137658.0,137334.0,137339.0,...,170981,171534,172127,172907,173677,174713,175688,176837,177761,178807
20,20,Orlando,City,FL,Florida,Orange County,145108.0,144126.0,143096.0,142872.0,...,252622,253265,254225,255097,255862,256441,257152,258203,259657,260915
21,21,El Paso,City,TX,Texas,El Paso County,126638.0,127035.0,127276.0,126725.0,...,135467,135929,136361,136300,136176,136207,136841,137562,138052,138237
22,22,Detroit,City,MI,Michigan,Wayne County,17973.0,17648.0,17351.0,17374.0,...,33615,33936,34148,34240,34417,34656,34937,35283,35702,36293
23,23,Denver,City,CO,Colorado,Denver County,246564.0,248071.0,249300.0,247984.0,...,454558,454578,455615,456193,456663,457096,458434,460255,462640,465466
24,24,Seattle,City,WA,Washington,King County,422369.0,420144.0,416093.0,417787.0,...,741414,742065,743707,744207,744257,747509,752731,758290,762931,767906
25,25,Memphis,City,TN,Tennessee,Shelby County,75399.0,75209.0,75016.0,74787.0,...,91598,92115,92640,93244,93829,94512,95249,95960,96755,97574
26,26,Boston,City,MA,Massachusetts,Suffolk County,366469.0,368083.0,370587.0,373124.0,...,633272,633104,632590,633204,634382,634489,635105,637141,641265,644743
27,27,Washington,City,DC,District of Columbia,District of Columbia,417998.0,417549.0,416565.0,418269.0,...,628114,628160,629709,631042,632441,633135,634526,637047,639503,640783
28,28,Portland,City,OR,Oregon,Multnomah County,292857.0,294054.0,295373.0,296074.0,...,463049,463698,464161,464655,465516,466681,466782,466124,465998,467621
29,29,Nashville,City,TN,Tennessee,Davidson County,171852.0,171514.0,171298.0,170938.0,...,277513,278330,278960,279678,280819,282309,283868,285412,287046,289142
30,30,Sacramento,City,CA,California,Sacramento County,182281.0,181689.0,181917.0,181302.0,...,339633,339975,341084,343497,346338,349674,352270,355415,358467,362400
31,31,Baltimore,City,MD,Maryland,Baltimore City,149570.0,148228.0,148236.0,148336.0,...,150722,151047,151376,151064,150764,150744,151521,152174,152141,152180
32,32,Milwaukee,City,WI,Wisconsin,Milwaukee County,110457.0,110032.0,109819.0,109853.0,...,129915,130746,131308,131909,132645,133566,134415,135081,135470,135570
33,33,Fresno,City,CA,California,Fresno County,162954.0,164218.0,165114.0,164796.0,...,249174,249717,251225,252413,253638,254280,255140,256059,257121,258502
34,34,Omaha,City,NE,Nebraska,Douglas County,143545.0,143974.0,143220.0,143455.0,...,186093,187317,188581,189823,190645,191553,192284,193507,194871,196202
35,35,Albuquerque,City,NM,New Mexico,Bernalillo County,189050.0,188588.0,188490.0,187872.0,...,204150,205725,207146,208548,209262,210364,211548,212921,214485,216090
36,36,Oklahoma City,City,OK,Oklahoma,Oklahoma County,112812.0,112961.0,113225.0,113324.0,...,134612,135571,136596,137343,137999,138593,139130,140010,140863,142220
37,37,Raleigh,City,NC,North Carolina,Wake County,217240.0,216914.0,216881.0,217170.0,...,283177,284119,284960,285731,286754,287835,288587,288821,289303,290270
38,38,Mesa,City,AZ,Arizona,Maricopa County,150125.0,149139.0,147868.0,147523.0,...,259648,261127,262963,264625,266649,268775,271270,273639,275904,278497
39,39,Miami,City,FL,Florida,Miami-Dade County,227173.0,226113.0,225324.0,224549.0,...,365538,366034,366592,366906,367535,367591,367802,367898,369553,370738
40,40,Atlanta,City,GA,Georgia,Fulton County,173800.0,172399.0,171607.0,171535.0,...,291503,291531,291787,291906,292052,292513,293812,295430,297480,299308
41,41,Kansas City,City,MO,Missouri,Jackson County,117884.0,117260.0,117055.0,117307.0,...,156844,157445,157934,158358,158872,159476,159926,160485,161195,162487
42,42,Colorado Springs,City,CO,Colorado,El Paso County,209451.0,209444.0,209490.0,209300.0,...,302515,304288,306535,308909,310796,312421,314121,316577,319589,323194
43,43,Long Beach,City,CA,California,Los Angeles County,391888.0,390602.0,390373.0,392367.0,...,597537,598464,600096,602482,605368,608142,612140,616561,622927,629202
44,44,Virginia Beach,City,VA,Virginia,Virginia Beach City,267042.0,267680.0,268209.0,268338.0,...,279374,279861,280578,281662,282686,283666,284575,286102,287349,288499
45,45,Oakland,City,CA,California,Alameda County,388664.0,389990.0,391143.0,391596.0,...,759840,762928,766401,769974,772131,774320,780289,788547,795321,801072
46,46,Tulsa,City,OK,Oklahoma,Tulsa County,112863.0,113297.0,113871.0,114716.0,...,125732,126339,126902,127403,127890,128204,128352,128586,129227,129889
47,47,Minneapolis,City,MN,Minnesota,Hennepin County,196734.0,197928.0,198816.0,198456.0,...,283759,284001,284379,285276,286258,287748,288978,289898,290556,291476
48,48,Honolulu,City,HI,Hawaii,Honolulu County,485514.0,492360.0,494683.0,496629.0,...,722252,721266,719525,717406,715430,713667,711853,710052,707657,705049
49,49,Cleveland,City,OH,Ohio,Cuyahoga County,64564.0,64862.0,64771.0,64737.0,...,64745,65526,66237,66598,66777,66825,67179,67675,68258,68757

In [30]:
le = LabelEncoder()
all_homes_cleansed_df['RegionName'] = le.fit_transform(all_homes_cleansed_df['RegionName'])
all_homes_cleansed_df['RegionType'] = le.fit_transform(all_homes_cleansed_df['RegionType'])
all_homes_cleansed_df['State'] = le.fit_transform(all_homes_cleansed_df['State'])
all_homes_cleansed_df['StateName'] = le.fit_transform(all_homes_cleansed_df['StateName'])
all_homes_cleansed_df['CountyName'] = le.fit_transform(all_homes_cleansed_df['CountyName'])

C:\Users\zionh\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\zionh\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\zionh\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\zionh\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\zionh\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
all_homes_cleansed_df.head()

,SizeRank,RegionName,RegionType,State,StateName,CountyName,Jan-10,Feb-10,Mar-10,Apr-10,...,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20
0,0,9439,0,34,32,1206,444369.0,444560.0,443163.0,442489.0,...,659421,659007,658239,656925,655613,654394,653930,653901,653565,652307
1,1,7763,0,4,4,874,443474.0,441260.0,440817.0,441873.0,...,712660,713807,715688,718245,721896,725180,730358,735910,744137,752508
2,2,6211,0,43,43,643,127564.0,127372.0,127497.0,127711.0,...,186844,187464,188070,188496,189125,189612,190179,190395,190938,191907
3,3,2371,0,14,13,354,217978.0,218203.0,215311.0,215345.0,...,248372,248646,248725,248483,248278,248090,248029,248220,248599,249152
4,4,11984,0,43,43,133,127517.0,127650.0,127677.0,127675.0,...,182732,183350,183930,184846,185490,186244,186420,186962,187129,187718