In [40]:
# Import our dependencies
import pandas as pd
from datetime import datetime
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
from sklearn.linear_model import LinearRegression

# Read in our housing data
housing_data_df= pd.read_csv("../Resources/City_Zhvi_AllHomes.csv",parse_dates=True)
housing_data_df

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,130920.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94041.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27325,27325,48550,29449,Winton,City,MN,MN,Duluth,Saint Louis County,NaN,...,70929.0,70176.0,68979.0,68537.0,68948.0,69481.0,69423.0,69355.0,69654.0,70399.0
27326,27326,51821,29449,Eastabuchie,City,MS,MS,Laurel,Jones County,NaN,...,77737.0,78461.0,79138.0,79930.0,79683.0,79838.0,80272.0,80969.0,81871.0,82284.0
27327,27327,232607,29449,Dean,City,TX,TX,Wichita Falls,Clay County,NaN,...,178872.0,179976.0,180654.0,181188.0,181613.0,182101.0,182424.0,182764.0,182639.0,182361.0
27328,27328,6638,29449,Pulaski,City,GA,GA,NaN,Candler County,NaN,...,97356.0,97757.0,98014.0,98225.0,98303.0,98613.0,98802.0,99227.0,99699.0,100464.0
27329,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,NaN,...,88745.0,89233.0,89169.0,89628.0,90073.0,90961.0,91745.0,92232.0,92787.0,93564.0

In [41]:
topcity = housing_data_df[['SizeRank', 'RegionName']].copy()
topcity

       SizeRank   RegionName
0             0     New York
1             1  Los Angeles
2             2      Houston
3             3      Chicago
4             4  San Antonio
...         ...          ...
27325     29449       Winton
27326     29449  Eastabuchie
27327     29449         Dean
27328     29449      Pulaski
27329     29449    New Paris

[27330 rows x 2 columns]

In [42]:
topcity = topcity.loc[0:59,'RegionName']
topcity

0             New York
1          Los Angeles
2              Houston
3              Chicago
4          San Antonio
5         Philadelphia
6              Phoenix
7            Las Vegas
8            San Diego
9               Dallas
10              Austin
11            San Jose
12        Jacksonville
13        Indianapolis
14       San Francisco
15           Charlotte
16          Fort Worth
17              Tucson
18            Columbus
19          Louisville
20             Orlando
21             El Paso
22             Detroit
23              Denver
24             Seattle
25             Memphis
26              Boston
27          Washington
28            Portland
29           Nashville
30          Sacramento
31           Baltimore
32           Milwaukee
33              Fresno
34               Omaha
35         Albuquerque
36       Oklahoma City
37             Raleigh
38                Mesa
39               Miami
40             Atlanta
41         Kansas City
42    Colorado Springs
43          Long Beach
44      Virginia Beach
45             Oakland
46               Tulsa
47         Minneapolis
48            Honolulu
49           Cleveland
50         New Orleans
51           Arlington
52           Knoxville
53         Baton Rouge
54             Wichita
55               Tampa
56              Aurora
57           Riverside
58         Bakersfield
59          Cincinnati
Name: RegionName, dtype: object

In [43]:
#Covert city dataframe to list
topcity.values.tolist()

['New York',
 'Los Angeles',
 'Houston',
 'Chicago',
 'San Antonio',
 'Philadelphia',
 'Phoenix',
 'Las Vegas',
 'San Diego',
 'Dallas',
 'Austin',
 'San Jose',
 'Jacksonville',
 'Indianapolis',
 'San Francisco',
 'Charlotte',
 'Fort Worth',
 'Tucson',
 'Columbus',
 'Louisville',
 'Orlando',
 'El Paso',
 'Detroit',
 'Denver',
 'Seattle',
 'Memphis',
 'Boston',
 'Washington',
 'Portland',
 'Nashville',
 'Sacramento',
 'Baltimore',
 'Milwaukee',
 'Fresno',
 'Omaha',
 'Albuquerque',
 'Oklahoma City',
 'Raleigh',
 'Mesa',
 'Miami',
 'Atlanta',
 'Kansas City',
 'Colorado Springs',
 'Long Beach',
 'Virginia Beach',
 'Oakland',
 'Tulsa',
 'Minneapolis',
 'Honolulu',
 'Cleveland',
 'New Orleans',
 'Arlington',
 'Knoxville',
 'Baton Rouge',
 'Wichita',
 'Tampa',
 'Aurora',
 'Riverside',
 'Bakersfield',
 'Cincinnati']

In [44]:
## drop unneeded columns
## dropped RegionID, State, Metro, CountyName 
housing_data_df=housing_data_df.drop(housing_data_df.iloc[:, 0:3],axis = 1)
housing_data_df.head()

,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,195693.0,195383.0,194836.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,185625.0,185645.0,185706.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,93633.0,93636.0,93811.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,130920.0,130772.0,130511.0,130495.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94041.0,94007.0,93973.0,93957.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0

In [45]:
## drop unneeded columns
## dropped all months before January 2010
housing_data_df=housing_data_df.drop(housing_data_df.iloc[:, 1:174],axis = 1)
housing_data_df.head()

,RegionName,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,New York,444369.0,444560.0,443163.0,442489.0,442178.0,444115.0,446442.0,447742.0,449016.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,Los Angeles,443474.0,441260.0,440817.0,441873.0,445830.0,444219.0,442515.0,438684.0,435730.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,Houston,127564.0,127372.0,127497.0,127711.0,127788.0,127292.0,126217.0,124908.0,123995.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,Chicago,217978.0,218203.0,215311.0,215345.0,212877.0,213038.0,209000.0,207128.0,204227.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,San Antonio,127517.0,127650.0,127677.0,127675.0,127681.0,127691.0,127636.0,127751.0,127649.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0

In [46]:
#Dropping all but first value in RegionName. City names appear more than once if they are cities in diffrent states 
#the same name. Since we are looking for top cities we are ok to drop all occurances after the first.
housing_data_df.drop_duplicates(subset=['RegionName'], inplace=True)
housing_data_df

,RegionName,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,New York,444369.0,444560.0,443163.0,442489.0,442178.0,444115.0,446442.0,447742.0,449016.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,Los Angeles,443474.0,441260.0,440817.0,441873.0,445830.0,444219.0,442515.0,438684.0,435730.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,Houston,127564.0,127372.0,127497.0,127711.0,127788.0,127292.0,126217.0,124908.0,123995.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,Chicago,217978.0,218203.0,215311.0,215345.0,212877.0,213038.0,209000.0,207128.0,204227.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,San Antonio,127517.0,127650.0,127677.0,127675.0,127681.0,127691.0,127636.0,127751.0,127649.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27322,Columbus Township,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85912.0,86201.0,86514.0,87365.0,87234.0,87160.0,86902.0,87095.0,87705.0,87924.0
27323,Pursglove,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35891.0,36054.0,36024.0,36034.0,35844.0,36001.0,36098.0,36205.0,36059.0,35973.0
27324,Tome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124700.0,124903.0,125228.0,125531.0,125908.0,126784.0,127890.0,129247.0,129959.0,131079.0
27326,Eastabuchie,66148.0,65857.0,65907.0,66002.0,66188.0,66299.0,66370.0,66197.0,65844.0,...,77737.0,78461.0,79138.0,79930.0,79683.0,79838.0,80272.0,80969.0,81871.0,82284.0
27327,Dean,124299.0,124047.0,123632.0,123236.0,122723.0,122429.0,122224.0,121906.0,121928.0,...,178872.0,179976.0,180654.0,181188.0,181613.0,182101.0,182424.0,182764.0,182639.0,182361.0

In [47]:
#keep only rows with the cities in our top cities list above
housing_topcity_df = housing_data_df[housing_data_df['RegionName'].isin(topcity)]
housing_topcity_df

,RegionName,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,New York,444369.0,444560.0,443163.0,442489.0,442178.0,444115.0,446442.0,447742.0,449016.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,Los Angeles,443474.0,441260.0,440817.0,441873.0,445830.0,444219.0,442515.0,438684.0,435730.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,Houston,127564.0,127372.0,127497.0,127711.0,127788.0,127292.0,126217.0,124908.0,123995.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,Chicago,217978.0,218203.0,215311.0,215345.0,212877.0,213038.0,209000.0,207128.0,204227.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,San Antonio,127517.0,127650.0,127677.0,127675.0,127681.0,127691.0,127636.0,127751.0,127649.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0
5,Philadelphia,148164.0,148450.0,148615.0,148611.0,148666.0,148933.0,148785.0,148156.0,146588.0,...,180552.0,181582.0,182578.0,183510.0,184375.0,185050.0,185581.0,186103.0,186806.0,187772.0
6,Phoenix,138948.0,137630.0,136195.0,135623.0,134845.0,134026.0,131449.0,129334.0,126605.0,...,251616.0,252949.0,254712.0,256293.0,258094.0,260058.0,262379.0,264658.0,266769.0,269175.0
7,Las Vegas,147762.0,147107.0,146572.0,145492.0,144329.0,144229.0,143861.0,143653.0,142538.0,...,285430.0,284385.0,283456.0,283210.0,283713.0,284820.0,285736.0,287089.0,288201.0,290535.0
8,San Diego,421263.0,421956.0,423885.0,427696.0,428304.0,428271.0,425241.0,424390.0,421998.0,...,648624.0,650704.0,652443.0,654566.0,656162.0,659380.0,663421.0,669118.0,673969.0,679568.0
9,Dallas,136558.0,135681.0,134954.0,134651.0,134134.0,133826.0,132728.0,131698.0,130108.0,...,223866.0,224495.0,225114.0,226489.0,226928.0,227421.0,226790.0,226578.0,226225.0,226145.0
10,Austin,233737.0,233371.0,233191.0,233279.0,233365.0,233143.0,232628.0,231444.0,230446.0,...,384020.0,385341.0,386636.0,388877.0,390228.0,392524.0,394368.0,396832.0,398737.0,401999.0
11,San Jose,528403.0,528001.0,536630.0,539220.0,542734.0,536240.0,532041.0,530332.0,533796.0,...,1020983.0,1011978.0,1009994.0,1013576.0,1017264.0,1022024.0,1030142.0,1044256.0,1058211.0,1073255.0
12,Jacksonville,142366.0,140673.0,139233.0,138828.0,138743.0,138462.0,136872.0,134520.0,132348.0,...,185522.0,185919.0,186564.0,187190.0,188159.0,188850.0,189904.0,191352.0,193382.0,195692.0
13,Indianapolis,105004.0,105552.0,105660.0,105859.0,105728.0,105582.0,104641.0,103279.0,101349.0,...,146229.0,146548.0,146837.0,147907.0,149051.0,150058.0,150381.0,150945.0,152105.0,153159.0
14,San Francisco,756063.0,765060.0,764361.0,766430.0,764671.0,765324.0,759351.0,760435.0,761043.0,...,1399537.0,1401434.0,1399378.0,1403962.0,1409597.0,1418410.0,1431606.0,1438161.0,1445113.0,1447191.0
15,Charlotte,172150.0,171070.0,169834.0,168847.0,168470.0,167722.0,166296.0,164985.0,163747.0,...,242765.0,243423.0,244333.0,245228.0,246497.0,247632.0,248816.0,249527.0,251105.0,252438.0
16,Fort Worth,124018.0,124243.0,124144.0,124251.0,124139.0,124105.0,123551.0,122873.0,122147.0,...,205758.0,206352.0,207211.0,208189.0,209099.0,209590.0,210054.0,210472.0,211244.0,212127.0
17,Tucson,165629.0,163869.0,162907.0,163213.0,162751.0,161547.0,159948.0,158933.0,157585.0,...,202928.0,204049.0,205187.0,206240.0,207361.0,208856.0,211172.0,212818.0,214364.0,215965.0
18,Columbus,120334.0,120468.0,120797.0,120589.0,120296.0,119790.0,119170.0,118372.0,117261.0,...,163199.0,163866.0,164663.0,165803.0,166880.0,168009.0,169280.0,171019.0,172761.0,174109.0
19,Louisville,138108.0,137658.0,137334.0,137339.0,137447.0,137182.0,136801.0,136473.0,136226.0,...,170981.0,171534.0,172127.0,172907.0,173677.0,174713.0,175688.0,176837.0,177761.0,178807.0
20,Orlando,145108.0,144126.0,143096.0,142872.0,141851.0,140775.0,139469.0,137726.0,135758.0,...,252622.0,253265.0,254225.0,255097.0,255862.0,256441.0,257152.0,258203.0,259657.0,260915.0
21,El Paso,126638.0,127035.0,127276.0,126725.0,126879.0,126701.0,126487.0,125951.0,125844.0,...,135467.0,135929.0,136361.0,136300.0,136176.0,136207.0,136841.0,137562.0,138052.0,138237.0
22,Detroit,17973.0,17648.0,17351.0,17374.0,17468.0,17699.0,17505.0,17185.0,16729.0,...,33615.0,33936.0,34148.0,34240.0,34417.0,34656.0,34937.0,35283.0,35702.0,36293.0
23,Denver,246564.0,248071.0,249300.0,247984.0,245771.0,243416.0,241985.0,241182.0,240266.0,...,454558.0,454578.0,455615.0,456193.0,456663.0,457096.0,458434.0,460255.0,462640.0,465466.0
24,Seattle,422369.0,420144.0,416093.0,417787.0,419765.0,420071.0,417705.0,413437.0,410364.0,...,741414.0,742065.0,743707.0,744207.0,744257.0,747509.0,752731.0,758290.0,762931.0,767906.0
25,Memphis,75399.0,75209.0,75016.0,74787.0,74614.0,74427.0,73977.0,73350.0,72493.0,...,91598.0,92115.0,92640.0,93244.0,93829.0,94512.0,95249.0,95960.0,96755.0,97574.0
26,Boston,366469.0,368083.0,370587.0,373124.0,374323.0,376525.0,376864.0,376708.0,374541.0,...,633272.0,633104.0,632590.0,633204.0,634382.0,634489.0,635105.0,637141.0,641265.0,644743.0
27,Washington,417998.0,417549.0,416565.0,418269.0,422244.0,425273.0,426172.0,426428.0,425233.0,...,628114.0,628160.0,629709.0,631042.0,632441.0,633135.0,634526.0,637047.0,639503.0,640783.0
28,Portland,292857.0,294054.0,295373.0,296074.0,293969.0,291265.0,288355.0,285079.0,281326.0,...,463049.0,463698.0,464161.0,464655.0,465516.0,466681.0,466782.0,466124.0,465998.0,467621.0
29,Nashville,171852.0,171514.0,171298.0,170938.0,170427.0,169838.0,169291.0,168755.0,168034.0,...,277513.0,278330.0,278960.0,279678.0,280819.0,282309.0,283868.0,285412.0,287046.0,289142.0
30,Sacramento,182281.0,181689.0,181917.0,181302.0,181340.0,181417.0,181941.0,181328.0,179046.0,...,339633.0,339975.0,341084.0,343497.0,346338.0,349674.0,352270.0,355415.0,358467.0,362400.0
31,Baltimore,149570.0,148228.0,148236.0,148336.0,148624.0,148026.0,147114.0,145502.0,143334.0,...,150722.0,151047.0,151376.0,151064.0,150764.0,150744.0,151521.0,152174.0,152141.0,152180.0
32,Milwaukee,110457.0,110032.0,109819.0,109853.0,109679.0,108924.0,107870.0,105966.0,103487.0,...,129915.0,130746.0,131308.0,131909.0,132645.0,133566.0,134415.0,135081.0,135470.0,135570.0
33,Fresno,162954.0,164218.0,165114.0,164796.0,164491.0,163795.0,161669.0,159526.0,157198.0,...,249174.0,249717.0,251225.0,252413.0,253638.0,254280.0,255140.0,256059.0,257121.0,258502.0
34,Omaha,143545.0,143974.0,143220.0,143455.0,143213.0,142826.0,140861.0,138771.0,137074.0,...,186093.0,187317.0,188581.0,189823.0,190645.0,191553.0,192284.0,193507.0,194871.0,196202.0
35,Albuquerque,189050.0,188588.0,188490.0,187872.0,187272.0,186279.0,185471.0,184775.0,183606.0,...,204150.0,205725.0,207146.0,208548.0,209262.0,210364.0,211548.0,212921.0,214485.0,216090.0
36,Oklahoma City,112812.0,112961.0,113225.0,113324.0,113477.0,113321.0,113130.0,112640.0,112174.0,...,134612.0,135571.0,136596.0,137343.0,137999.0,138593.0,139130.0,140010.0,140863.0,142220.0
37,Raleigh,217240.0,216914.0,216881.0,217170.0,217641.0,217334.0,215990.0,214796.0,213498.0,...,283177.0,284119.0,284960.0,285731.0,286754.0,287835.0,288587.0,288821.0,289303.0,290270.0
38,Mesa,150125.0,149139.0,147868.0,147523.0,146781.0,146268.0,143729.0,141789.0,139000.0,...,259648.0,261127.0,262963.0,264625.0,266649.0,268775.0,271270.0,273639.0,275904.0,278497.0
39,Miami,227173.0,226113.0,225324.0,224549.0,223702.0,221943.0,220420.0,218805.0,217262.0,...,365538.0,366034.0,366592.0,366906.0,367535.0,367591.0,367802.0,367898.0,369553.0,370738.0
40,Atlanta,173800.0,172399.0,171607.0,171535.0,171605.0,170943.0,168980.0,167007.0,164055.0,...,291503.0,291531.0,291787.0,291906.0,292052.0,292513.0,293812.0,295430.0,297480.0,299308.0
41,Kansas City,117884.0,117260.0,117055.0,117307.0,117494.0,117215.0,116652.0,115683.0,114481.0,...,156844.0,157445.0,157934.0,158358.0,158872.0,159476.0,159926.0,160485.0,161195.0,162487.0
42,Colorado Springs,209451.0,209444.0,209490.0,209300.0,208879.0,208431.0,207810.0,206891.0,205553.0,...,302515.0,304288.0,306535.0,308909.0,310796.0,312421.0,314121.0,316577.0,319589.0,323194.0
43,Long Beach,391888.0,390602.0,390373.0,392367.0,396279.0,395738.0,394494.0,391641.0,388634.0,...,597537.0,598464.0,600096.0,602482.0,605368.0,608142.0,612140.0,616561.0,622927.0,629202.0
44,Virginia Beach,267042.0,267680.0,268209.0,268338.0,268357.0,267795.0,265577.0,263434.0,261449.0,...,279374.0,279861.0,280578.0,281662.0,282686.0,283666.0,284575.0,286102.0,287349.0,288499.0
45,Oakland,388664.0,389990.0,391143.0,391596.0,394056.0,392794.0,390164.0,384836.0,381043.0,...,759840.0,762928.0,766401.0,769974.0,772131.0,774320.0,780289.0,788547.0,795321.0,801072.0
46,Tulsa,112863.0,113297.0,113871.0,114716.0,115093.0,114896.0,113903.0,113108.0,112221.0,...,125732.0,126339.0,126902.0,127403.0,127890.0,128204.0,128352.0,128586.0,129227.0,129889.0
47,Minneapolis,196734.0,197928.0,198816.0,198456.0,197093.0,195430.0,194336.0,192489.0,190600.0,...,283759.0,284001.0,284379.0,285276.0,286258.0,287748.0,288978.0,289898.0,290556.0,291476.0
48,Honolulu,485514.0,492360.0,494683.0,496629.0,497449.0,504522.0,510203.0,515398.0,517974.0,...,722252.0,721266.0,719525.0,717406.0,715430.0,713667.0,711853.0,710052.0,707657.0,705049.0
49,Cleveland,64564.0,64862.0,64771.0,64737.0,64341.0,64045.0,63262.0,62193.0,60962.0,...,64745.0,65526.0,66237.0,66598.0,66777.0,66825.0,67179.0,67675.0,68258.0,68757.0
50,New Orleans,171330.0,173198.0,175034.0,175350.0,175648.0,175464.0,175047.0,174755.0,173571.0,...,233287.0,234342.0,234624.0,235478.0,235525.0,236414.0,237187.0,237801.0,237545.0,237225.0
51,Arlington,130039.0,130261.0,130151.0,130176.0,130035.0,130021.0,129397.0,128641.0,127959.0,...,213136.0,213807.0,214906.0,216131.0,217244.0,217842.0,218433.0,219025.0,219948.0,221016.0
52,Knoxville,152670.0,152984.0,153347.0,153258.0,153414.0,153554.0,153264.0,152704.0,151706.0,...,189692.0,190193.0,191292.0,192782.0,194473.0,195880.0,196890.0,197949.0,199066.0,200650.0
53,Baton Rouge,177335.0,177326.0,177800.0,177479.0,176684.0,176345.0,175412.0,174347.0,173483.0,...,180895.0,180893.0,180641.0,180316.0,180062.0,180277.0,180586.0,181056.0,181577.0,183015.0
54,Wichita,120089.0,120092.0,119967.0,119472.0,119121.0,118832.0,118534.0,117996.0,117389.0,...,133173.0,133905.0,134432.0,134896.0,135299.0,135637.0,135955.0,136570.0,137491.0,138575.0
55,Tampa,147757.0,146970.0,146315.0,145306.0,145068.0,144434.0,142835.0,140982.0,138665.0,...,241483.0,242542.0,243266.0,243968.0,245042.0,246237.0,247513.0,248692.0,250012.0,251387.0
56,Aurora,184863.0,185462.0,185976.0,185651.0,186067.0,185660.0,185595.0,184556.0,183245.0,...,355129.0,355445.0,355435.0,355883.0,356562.0,357965.0,359590.0,361694.0,362867.0,363839.0
57,Riverside,235763.0,236346.0,236786.0,237102.0,238942.0,239053.0,238505.0,235852.0,235581.0,...,416794.0,417668.0,419072.0,420041.0,422075.0,423130.0,425576.0,425835.0,426571.0,426801.0
58,Bakersfield,156720.0,156421.0,157002.0,157351.0,158705.0,158352.0,157468.0,156682.0,156052.0,...,245614.0,246746.0,248001.0,248987.0,249692.0,251115.0,252295.0,253432.0,254736.0,256909.0
59,Cincinnati,130492.0,131952.0,132418.0,132506.0,131951.0,131621.0,130311.0,128926.0,127783.0,...,157371.0,157966.0,158942.0,160283.0,161428.0,162519.0,163300.0,164139.0,164797.0,165613.0

In [48]:
## transpose dates to rows
housing_topcity_df=housing_topcity_df.transpose()
housing_topcity_df.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
RegionName,New York,Los Angeles,Houston,Chicago,San Antonio,Philadelphia,Phoenix,Las Vegas,San Diego,Dallas,...,New Orleans,Arlington,Knoxville,Baton Rouge,Wichita,Tampa,Aurora,Riverside,Bakersfield,Cincinnati
2010-01-31,444369.0,443474.0,127564.0,217978.0,127517.0,148164.0,138948.0,147762.0,421263.0,136558.0,...,171330.0,130039.0,152670.0,177335.0,120089.0,147757.0,184863.0,235763.0,156720.0,130492.0
2010-02-28,444560.0,441260.0,127372.0,218203.0,127650.0,148450.0,137630.0,147107.0,421956.0,135681.0,...,173198.0,130261.0,152984.0,177326.0,120092.0,146970.0,185462.0,236346.0,156421.0,131952.0
2010-03-31,443163.0,440817.0,127497.0,215311.0,127677.0,148615.0,136195.0,146572.0,423885.0,134954.0,...,175034.0,130151.0,153347.0,177800.0,119967.0,146315.0,185976.0,236786.0,157002.0,132418.0
2010-04-30,442489.0,441873.0,127711.0,215345.0,127675.0,148611.0,135623.0,145492.0,427696.0,134651.0,...,175350.0,130176.0,153258.0,177479.0,119472.0,145306.0,185651.0,237102.0,157351.0,132506.0

In [49]:
#move first row to column names
housing_topcity_df.columns = housing_topcity_df.iloc[0]
housing_topcity_df

RegionName,New York,Los Angeles,Houston,Chicago,San Antonio,Philadelphia,Phoenix,Las Vegas,San Diego,Dallas,...,New Orleans,Arlington,Knoxville,Baton Rouge,Wichita,Tampa,Aurora,Riverside,Bakersfield,Cincinnati
RegionName,New York,Los Angeles,Houston,Chicago,San Antonio,Philadelphia,Phoenix,Las Vegas,San Diego,Dallas,...,New Orleans,Arlington,Knoxville,Baton Rouge,Wichita,Tampa,Aurora,Riverside,Bakersfield,Cincinnati
2010-01-31,444369.0,443474.0,127564.0,217978.0,127517.0,148164.0,138948.0,147762.0,421263.0,136558.0,...,171330.0,130039.0,152670.0,177335.0,120089.0,147757.0,184863.0,235763.0,156720.0,130492.0
2010-02-28,444560.0,441260.0,127372.0,218203.0,127650.0,148450.0,137630.0,147107.0,421956.0,135681.0,...,173198.0,130261.0,152984.0,177326.0,120092.0,146970.0,185462.0,236346.0,156421.0,131952.0
2010-03-31,443163.0,440817.0,127497.0,215311.0,127677.0,148615.0,136195.0,146572.0,423885.0,134954.0,...,175034.0,130151.0,153347.0,177800.0,119967.0,146315.0,185976.0,236786.0,157002.0,132418.0
2010-04-30,442489.0,441873.0,127711.0,215345.0,127675.0,148611.0,135623.0,145492.0,427696.0,134651.0,...,175350.0,130176.0,153258.0,177479.0,119472.0,145306.0,185651.0,237102.0,157351.0,132506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-30,654394.0,725180.0,189612.0,248090.0,186244.0,185050.0,260058.0,284820.0,659380.0,227421.0,...,236414.0,217842.0,195880.0,180277.0,135637.0,246237.0,357965.0,423130.0,251115.0,162519.0
2019-12-31,653930.0,730358.0,190179.0,248029.0,186420.0,185581.0,262379.0,285736.0,663421.0,226790.0,...,237187.0,218433.0,196890.0,180586.0,135955.0,247513.0,359590.0,425576.0,252295.0,163300.0
2020-01-31,653901.0,735910.0,190395.0,248220.0,186962.0,186103.0,264658.0,287089.0,669118.0,226578.0,...,237801.0,219025.0,197949.0,181056.0,136570.0,248692.0,361694.0,425835.0,253432.0,164139.0
2020-02-29,653565.0,744137.0,190938.0,248599.0,187129.0,186806.0,266769.0,288201.0,673969.0,226225.0,...,237545.0,219948.0,199066.0,181577.0,137491.0,250012.0,362867.0,426571.0,254736.0,164797.0
2020-03-31,652307.0,752508.0,191907.0,249152.0,187718.0,187772.0,269175.0,290535.0,679568.0,226145.0,...,237225.0,221016.0,200650.0,183015.0,138575.0,251387.0,363839.0,426801.0,256909.0,165613.0

In [50]:
#remove first row shwowing city name
housing_topcity_df = housing_topcity_df.iloc[1: , :]
housing_topcity_df

RegionName,New York,Los Angeles,Houston,Chicago,San Antonio,Philadelphia,Phoenix,Las Vegas,San Diego,Dallas,...,New Orleans,Arlington,Knoxville,Baton Rouge,Wichita,Tampa,Aurora,Riverside,Bakersfield,Cincinnati
2010-01-31,444369.0,443474.0,127564.0,217978.0,127517.0,148164.0,138948.0,147762.0,421263.0,136558.0,...,171330.0,130039.0,152670.0,177335.0,120089.0,147757.0,184863.0,235763.0,156720.0,130492.0
2010-02-28,444560.0,441260.0,127372.0,218203.0,127650.0,148450.0,137630.0,147107.0,421956.0,135681.0,...,173198.0,130261.0,152984.0,177326.0,120092.0,146970.0,185462.0,236346.0,156421.0,131952.0
2010-03-31,443163.0,440817.0,127497.0,215311.0,127677.0,148615.0,136195.0,146572.0,423885.0,134954.0,...,175034.0,130151.0,153347.0,177800.0,119967.0,146315.0,185976.0,236786.0,157002.0,132418.0
2010-04-30,442489.0,441873.0,127711.0,215345.0,127675.0,148611.0,135623.0,145492.0,427696.0,134651.0,...,175350.0,130176.0,153258.0,177479.0,119472.0,145306.0,185651.0,237102.0,157351.0,132506.0
2010-05-31,442178.0,445830.0,127788.0,212877.0,127681.0,148666.0,134845.0,144329.0,428304.0,134134.0,...,175648.0,130035.0,153414.0,176684.0,119121.0,145068.0,186067.0,238942.0,158705.0,131951.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-30,654394.0,725180.0,189612.0,248090.0,186244.0,185050.0,260058.0,284820.0,659380.0,227421.0,...,236414.0,217842.0,195880.0,180277.0,135637.0,246237.0,357965.0,423130.0,251115.0,162519.0
2019-12-31,653930.0,730358.0,190179.0,248029.0,186420.0,185581.0,262379.0,285736.0,663421.0,226790.0,...,237187.0,218433.0,196890.0,180586.0,135955.0,247513.0,359590.0,425576.0,252295.0,163300.0
2020-01-31,653901.0,735910.0,190395.0,248220.0,186962.0,186103.0,264658.0,287089.0,669118.0,226578.0,...,237801.0,219025.0,197949.0,181056.0,136570.0,248692.0,361694.0,425835.0,253432.0,164139.0
2020-02-29,653565.0,744137.0,190938.0,248599.0,187129.0,186806.0,266769.0,288201.0,673969.0,226225.0,...,237545.0,219948.0,199066.0,181577.0,137491.0,250012.0,362867.0,426571.0,254736.0,164797.0
2020-03-31,652307.0,752508.0,191907.0,249152.0,187718.0,187772.0,269175.0,290535.0,679568.0,226145.0,...,237225.0,221016.0,200650.0,183015.0,138575.0,251387.0,363839.0,426801.0,256909.0,165613.0

In [51]:
# Reset index
housing_topcity_df = housing_topcity_df.reset_index()
housing_topcity_df.head()

RegionName,index,New York,Los Angeles,Houston,Chicago,San Antonio,Philadelphia,Phoenix,Las Vegas,San Diego,...,New Orleans,Arlington,Knoxville,Baton Rouge,Wichita,Tampa,Aurora,Riverside,Bakersfield,Cincinnati
0,2010-01-31,444369.0,443474.0,127564.0,217978.0,127517.0,148164.0,138948.0,147762.0,421263.0,...,171330.0,130039.0,152670.0,177335.0,120089.0,147757.0,184863.0,235763.0,156720.0,130492.0
1,2010-02-28,444560.0,441260.0,127372.0,218203.0,127650.0,148450.0,137630.0,147107.0,421956.0,...,173198.0,130261.0,152984.0,177326.0,120092.0,146970.0,185462.0,236346.0,156421.0,131952.0
2,2010-03-31,443163.0,440817.0,127497.0,215311.0,127677.0,148615.0,136195.0,146572.0,423885.0,...,175034.0,130151.0,153347.0,177800.0,119967.0,146315.0,185976.0,236786.0,157002.0,132418.0
3,2010-04-30,442489.0,441873.0,127711.0,215345.0,127675.0,148611.0,135623.0,145492.0,427696.0,...,175350.0,130176.0,153258.0,177479.0,119472.0,145306.0,185651.0,237102.0,157351.0,132506.0
4,2010-05-31,442178.0,445830.0,127788.0,212877.0,127681.0,148666.0,134845.0,144329.0,428304.0,...,175648.0,130035.0,153414.0,176684.0,119121.0,145068.0,186067.0,238942.0,158705.0,131951.0

In [52]:
housing_topcity_df.rename(columns={ housing_topcity_df.columns[0]: "Date" })

RegionName,Date,New York,Los Angeles,Houston,Chicago,San Antonio,Philadelphia,Phoenix,Las Vegas,San Diego,...,New Orleans,Arlington,Knoxville,Baton Rouge,Wichita,Tampa,Aurora,Riverside,Bakersfield,Cincinnati
0,2010-01-31,444369.0,443474.0,127564.0,217978.0,127517.0,148164.0,138948.0,147762.0,421263.0,...,171330.0,130039.0,152670.0,177335.0,120089.0,147757.0,184863.0,235763.0,156720.0,130492.0
1,2010-02-28,444560.0,441260.0,127372.0,218203.0,127650.0,148450.0,137630.0,147107.0,421956.0,...,173198.0,130261.0,152984.0,177326.0,120092.0,146970.0,185462.0,236346.0,156421.0,131952.0
2,2010-03-31,443163.0,440817.0,127497.0,215311.0,127677.0,148615.0,136195.0,146572.0,423885.0,...,175034.0,130151.0,153347.0,177800.0,119967.0,146315.0,185976.0,236786.0,157002.0,132418.0
3,2010-04-30,442489.0,441873.0,127711.0,215345.0,127675.0,148611.0,135623.0,145492.0,427696.0,...,175350.0,130176.0,153258.0,177479.0,119472.0,145306.0,185651.0,237102.0,157351.0,132506.0
4,2010-05-31,442178.0,445830.0,127788.0,212877.0,127681.0,148666.0,134845.0,144329.0,428304.0,...,175648.0,130035.0,153414.0,176684.0,119121.0,145068.0,186067.0,238942.0,158705.0,131951.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2019-11-30,654394.0,725180.0,189612.0,248090.0,186244.0,185050.0,260058.0,284820.0,659380.0,...,236414.0,217842.0,195880.0,180277.0,135637.0,246237.0,357965.0,423130.0,251115.0,162519.0
119,2019-12-31,653930.0,730358.0,190179.0,248029.0,186420.0,185581.0,262379.0,285736.0,663421.0,...,237187.0,218433.0,196890.0,180586.0,135955.0,247513.0,359590.0,425576.0,252295.0,163300.0
120,2020-01-31,653901.0,735910.0,190395.0,248220.0,186962.0,186103.0,264658.0,287089.0,669118.0,...,237801.0,219025.0,197949.0,181056.0,136570.0,248692.0,361694.0,425835.0,253432.0,164139.0
121,2020-02-29,653565.0,744137.0,190938.0,248599.0,187129.0,186806.0,266769.0,288201.0,673969.0,...,237545.0,219948.0,199066.0,181577.0,137491.0,250012.0,362867.0,426571.0,254736.0,164797.0
122,2020-03-31,652307.0,752508.0,191907.0,249152.0,187718.0,187772.0,269175.0,290535.0,679568.0,...,237225.0,221016.0,200650.0,183015.0,138575.0,251387.0,363839.0,426801.0,256909.0,165613.0

In [53]:
housing_topcity_df.columns[1:]

Index(['New York', 'Los Angeles', 'Houston', 'Chicago', 'San Antonio',
       'Philadelphia', 'Phoenix', 'Las Vegas', 'San Diego', 'Dallas', 'Austin',
       'San Jose', 'Jacksonville', 'Indianapolis', 'San Francisco',
       'Charlotte', 'Fort Worth', 'Tucson', 'Columbus', 'Louisville',
       'Orlando', 'El Paso', 'Detroit', 'Denver', 'Seattle', 'Memphis',
       'Boston', 'Washington', 'Portland', 'Nashville', 'Sacramento',
       'Baltimore', 'Milwaukee', 'Fresno', 'Omaha', 'Albuquerque',
       'Oklahoma City', 'Raleigh', 'Mesa', 'Miami', 'Atlanta', 'Kansas City',
       'Colorado Springs', 'Long Beach', 'Virginia Beach', 'Oakland', 'Tulsa',
       'Minneapolis', 'Honolulu', 'Cleveland', 'New Orleans', 'Arlington',
       'Knoxville', 'Baton Rouge', 'Wichita', 'Tampa', 'Aurora', 'Riverside',
       'Bakersfield', 'Cincinnati'],
      dtype='object', name='RegionName')

In [60]:
#iterate over columns to 

housing_predictions = []

for column in housing_topcity_df.columns[1:]:
    
    
    X = housing_topcity_df.index.values.reshape(-1, 1)   
#converted X to float values
    x = X.astype(float)

    Y = housing_topcity_df[column].values.reshape(-1, 1)   

#converted Y to float values
    y = Y.astype(float)   

    linear_regressor = LinearRegression()  # create object for the class
    linear_regressor.fit(x, y)  # perform linear regression
    Y_pred = linear_regressor.predict(X)  # make predictions
    
    x_new = np.arange(125).reshape((-1, 1))
    #print(x_new)

    y_new = linear_regressor.predict(x_new)
    y_new[-1][-1]
    housing_predictions.append([column, y_new[-1][-1]])

In [61]:
housing_predictions

[['New York', 672314.5940075583],
 ['Los Angeles', 754165.0528605762],
 ['Houston', 193546.32165413402],
 ['Chicago', 250689.89031699148],
 ['San Antonio', 183855.40174252877],
 ['Philadelphia', 168782.49549857478],
 ['Phoenix', 267088.2012098387],
 ['Las Vegas', 290761.2570025753],
 ['San Diego', 679033.3465753483],
 ['Dallas', 220637.8851427171],
 ['Austin', 404774.2988868968],
 ['San Jose', 1125994.8312631936],
 ['Jacksonville', 183277.3287136758],
 ['Indianapolis', 142337.9565636111],
 ['San Francisco', 1506075.512489628],
 ['Charlotte', 239309.78714105755],
 ['Fort Worth', 207017.64743135002],
 ['Tucson', 199906.38600043854],
 ['Columbus', 156218.28331463112],
 ['Louisville', 169440.6027137532],
 ['Orlando', 261306.23385269544],
 ['El Paso', 130420.41927315097],
 ['Detroit', 32554.215389113175],
 ['Denver', 477110.92191510496],
 ['Seattle', 797658.4559874975],
 ['Memphis', 86255.55361726278],
 ['Boston', 664050.4639563529],
 ['Washington', 650958.3150331265],
 ['Portland', 499171.880533808],
 ['Nashville', 282494.68045469985],
 ['Sacramento', 361322.69400196907],
 ['Baltimore', 146385.9813321983],
 ['Milwaukee', 123481.9648205234],
 ['Fresno', 255810.7260579639],
 ['Omaha', 184752.29068157682],
 ['Albuquerque', 200003.32437777575],
 ['Oklahoma City', 135107.07486037843],
 ['Raleigh', 280364.3041708048],
 ['Mesa', 272585.9141590675],
 ['Miami', 395771.1676340216],
 ['Atlanta', 290933.31269642676],
 ['Kansas City', 152613.04981878214],
 ['Colorado Springs', 299890.5471230863],
 ['Long Beach', 628127.0994247461],
 ['Virginia Beach', 277867.93675862986],
 ['Oakland', 823253.2221885439],
 ['Tulsa', 124134.69937831319],
 ['Minneapolis', 288337.52668609977],
 ['Honolulu', 766989.3706839846],
 ['Cleveland', 56955.759210294374],
 ['New Orleans', 251762.07995511472],
 ['Arlington', 213985.19417179364],
 ['Knoxville', 183524.81574037054],
 ['Baton Rouge', 181489.77713645724],
 ['Wichita', 128912.5482688645],
 ['Tampa', 246182.37499838776],
 ['Aurora', 371099.83493484324],
 ['Riverside', 442019.5101572274],
 ['Bakersfield', 262836.6393915552],
 ['Cincinnati', 150612.74089074048]]

In [80]:
#convert regrresssion results to a dataframe
next_month_prediction_df = pd.DataFrame(housing_predictions)
next_month_prediction_df

                   0             1
0           New York  6.723146e+05
1        Los Angeles  7.541651e+05
2            Houston  1.935463e+05
3            Chicago  2.506899e+05
4        San Antonio  1.838554e+05
5       Philadelphia  1.687825e+05
6            Phoenix  2.670882e+05
7          Las Vegas  2.907613e+05
8          San Diego  6.790333e+05
9             Dallas  2.206379e+05
10            Austin  4.047743e+05
11          San Jose  1.125995e+06
12      Jacksonville  1.832773e+05
13      Indianapolis  1.423380e+05
14     San Francisco  1.506076e+06
15         Charlotte  2.393098e+05
16        Fort Worth  2.070176e+05
17            Tucson  1.999064e+05
18          Columbus  1.562183e+05
19        Louisville  1.694406e+05
20           Orlando  2.613062e+05
21           El Paso  1.304204e+05
22           Detroit  3.255422e+04
23            Denver  4.771109e+05
24           Seattle  7.976585e+05
25           Memphis  8.625555e+04
26            Boston  6.640505e+05
27        Washington  6.509583e+05
28          Portland  4.991719e+05
29         Nashville  2.824947e+05
30        Sacramento  3.613227e+05
31         Baltimore  1.463860e+05
32         Milwaukee  1.234820e+05
33            Fresno  2.558107e+05
34             Omaha  1.847523e+05
35       Albuquerque  2.000033e+05
36     Oklahoma City  1.351071e+05
37           Raleigh  2.803643e+05
38              Mesa  2.725859e+05
39             Miami  3.957712e+05
40           Atlanta  2.909333e+05
41       Kansas City  1.526130e+05
42  Colorado Springs  2.998905e+05
43        Long Beach  6.281271e+05
44    Virginia Beach  2.778679e+05
45           Oakland  8.232532e+05
46             Tulsa  1.241347e+05
47       Minneapolis  2.883375e+05
48          Honolulu  7.669894e+05
49         Cleveland  5.695576e+04
50       New Orleans  2.517621e+05
51         Arlington  2.139852e+05
52         Knoxville  1.835248e+05
53       Baton Rouge  1.814898e+05
54           Wichita  1.289125e+05
55             Tampa  2.461824e+05
56            Aurora  3.710998e+05
57         Riverside  4.420195e+05
58       Bakersfield  2.628366e+05
59        Cincinnati  1.506127e+05

In [86]:
#next_month_prediction_df.rename([0]:'City', [1]:'Next Month Price', inplace = True)
next_month_prediction_df.columns = ['City', 'Next Month Price']
next_month_prediction_df

                City  Next Month Price
0           New York      6.723146e+05
1        Los Angeles      7.541651e+05
2            Houston      1.935463e+05
3            Chicago      2.506899e+05
4        San Antonio      1.838554e+05
5       Philadelphia      1.687825e+05
6            Phoenix      2.670882e+05
7          Las Vegas      2.907613e+05
8          San Diego      6.790333e+05
9             Dallas      2.206379e+05
10            Austin      4.047743e+05
11          San Jose      1.125995e+06
12      Jacksonville      1.832773e+05
13      Indianapolis      1.423380e+05
14     San Francisco      1.506076e+06
15         Charlotte      2.393098e+05
16        Fort Worth      2.070176e+05
17            Tucson      1.999064e+05
18          Columbus      1.562183e+05
19        Louisville      1.694406e+05
20           Orlando      2.613062e+05
21           El Paso      1.304204e+05
22           Detroit      3.255422e+04
23            Denver      4.771109e+05
24           Seattle      7.976585e+05
25           Memphis      8.625555e+04
26            Boston      6.640505e+05
27        Washington      6.509583e+05
28          Portland      4.991719e+05
29         Nashville      2.824947e+05
30        Sacramento      3.613227e+05
31         Baltimore      1.463860e+05
32         Milwaukee      1.234820e+05
33            Fresno      2.558107e+05
34             Omaha      1.847523e+05
35       Albuquerque      2.000033e+05
36     Oklahoma City      1.351071e+05
37           Raleigh      2.803643e+05
38              Mesa      2.725859e+05
39             Miami      3.957712e+05
40           Atlanta      2.909333e+05
41       Kansas City      1.526130e+05
42  Colorado Springs      2.998905e+05
43        Long Beach      6.281271e+05
44    Virginia Beach      2.778679e+05
45           Oakland      8.232532e+05
46             Tulsa      1.241347e+05
47       Minneapolis      2.883375e+05
48          Honolulu      7.669894e+05
49         Cleveland      5.695576e+04
50       New Orleans      2.517621e+05
51         Arlington      2.139852e+05
52         Knoxville      1.835248e+05
53       Baton Rouge      1.814898e+05
54           Wichita      1.289125e+05
55             Tampa      2.461824e+05
56            Aurora      3.710998e+05
57         Riverside      4.420195e+05
58       Bakersfield      2.628366e+05
59        Cincinnati      1.506127e+05

In [88]:
next_month_prediction_df['Next Month Price'] = next_month_prediction_df['Next Month Price'].astype(int)
next_month_prediction_df

#df['purchase'].astype(int)

                City  Next Month Price
0           New York            672314
1        Los Angeles            754165
2            Houston            193546
3            Chicago            250689
4        San Antonio            183855
5       Philadelphia            168782
6            Phoenix            267088
7          Las Vegas            290761
8          San Diego            679033
9             Dallas            220637
10            Austin            404774
11          San Jose           1125994
12      Jacksonville            183277
13      Indianapolis            142337
14     San Francisco           1506075
15         Charlotte            239309
16        Fort Worth            207017
17            Tucson            199906
18          Columbus            156218
19        Louisville            169440
20           Orlando            261306
21           El Paso            130420
22           Detroit             32554
23            Denver            477110
24           Seattle            797658
25           Memphis             86255
26            Boston            664050
27        Washington            650958
28          Portland            499171
29         Nashville            282494
30        Sacramento            361322
31         Baltimore            146385
32         Milwaukee            123481
33            Fresno            255810
34             Omaha            184752
35       Albuquerque            200003
36     Oklahoma City            135107
37           Raleigh            280364
38              Mesa            272585
39             Miami            395771
40           Atlanta            290933
41       Kansas City            152613
42  Colorado Springs            299890
43        Long Beach            628127
44    Virginia Beach            277867
45           Oakland            823253
46             Tulsa            124134
47       Minneapolis            288337
48          Honolulu            766989
49         Cleveland             56955
50       New Orleans            251762
51         Arlington            213985
52         Knoxville            183524
53       Baton Rouge            181489
54           Wichita            128912
55             Tampa            246182
56            Aurora            371099
57         Riverside            442019
58       Bakersfield            262836
59        Cincinnati            150612

In [90]:
#convert result to CSV file
next_month_prediction_df.to_csv('../Resources/next_month_housing_prediction.csv')